@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 60px;
    margin-right: 220px;
    margin-left: 220px;
    text-align: center;
    align-items: center;
    background-image: url(bg.jpeg);
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    color: #F5F5F5;
    font-size: 60px;
}

table {
    margin: auto;
    
}

th {
    color: #FFFFFF
    
}

input {
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
   
}

button {
    min-width: 120px;
    margin: 20px 10px;
    padding: 10px;
    font-size: 20px;
   background-color: #F5F5F5;
    border-radius: 5px;
    font-weight: 600;
   
}

.countdown {
    display: flex;
    justify-content: center;
    
}

.heading {
    color: #F5F5F5;
    font-size: 18px;
    text-transform: uppercase;
}

.time {
    background-image: url(time-bg.jpg);
    color: #000000;
    font-size: 80px;
    width: 100px;
    margin: 0 10px;

}
